.widget {
    width: 250px;
    height: 400px;
    box-sizing: content-box;
    display: flex;
    flex-direction: column;
    background-color: #3FAB48;
    border: 5px solid #426B46;
    border-radius: 20px;
    justify-content: space-evenly;
}

.display {
    width: 230px;
    height: 70px;
    background-color: #413338;
    border: 1px solid #413338;
    border-radius: 5px;
    color: #33D079;
    font-family: "Silkscreen", sans-serif;
    font-size: 20px;
    text-align: right;
    white-space: normal;
    word-wrap: break-word;
    overflow-wrap: break-word;
    overflow: hidden;
}

#displayText {
    display: inline-block;
    max-width: 100%;
    padding-right: 5px;;
}

button {
    width: 50px;
    height: 40px;
    font-family: "Silkscreen", sans-serif;
}

.enter {
    height: 40px;
    width: 100px;
}

.first {
    display: flex;
    justify-content: center;
}

.bottom {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    height: 250px;
}

.operator {
    background-color: #964461;
    color: #E2E5D3; 
    border-color: #EB1C65;
}

