.widget {
    width: 250px;
    height: 400px;
    box-sizing: content-box;
    display: flex;
    flex-direction: column;
    background-color: #74da9a;
    border: 5px solid #74da9a;
    border-radius: 20px;
    justify-content: space-evenly;
}

.display {
    width: 230px;
    height: 70px;
    background-color: #d8eadf;
    border: 1px solid #707c75;
    border-radius: 5px;
    font-family: "Silkscreen", sans-serif;
    font-size: 20px;
    text-align: right;
    white-space: normal;
    word-wrap: break-word;
    overflow-wrap: break-word;
    overflow: hidden; 
}

#displayText {
    display: inline-block;
    max-width: 100%;
}

button {
    width: 50px;
    height: 40px;
    font-family: "Silkscreen", sans-serif;
}

.enter {
    height: 40px;
    width: 100px;
}

.first {
    display: flex;
    justify-content: center;
}

.bottom {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    height: 250px;
}